h1,h2,h3{
  padding: 10px 25px;
}

ul,footer{
  padding-bottom: 3%;
}

/* introduction */
.intro{
  text-align: center;
}

/* card */
.card{
  margin: 15px 0;
}

.card-header{
  background-color: #ddd;
}

/*image*/

.img{
  padding: 20px 10px;
  background-color: #eee;
}
